*{
  font-family: 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}
html{
  box-sizing: border-box;
  background-color: #333;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:hover {
  background: rgba(255, 215, 0, 0.5);
}
button {
  width: 100%;
  height: 48px;

  background: #FFD700;
  border-radius: 4px;
  border: none;

  font-size: 15px;
  font-weight: 600;
  color: white;
  display: block;

  margin-top: 60px;

}

input{
  border: 1px solid #E0E0E0;
  color: #333;
  padding: 13px;
  clear: both;
  margin-bottom: 20px;
  display: block;
  min-width: 242px;
  width: 100%;
  border-radius: 8px;
  font-size: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BDBDBD;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BDBDBD;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #BDBDBD;
}

label{
  display: block;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

/* up down */

main{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.box{
  display: flex;
  height: 100vh;
  background-color: #fff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  justify-content: space-between;
  flex-direction: column;
}
.loginBox{
  width: 560px;
  background-color: #fff;
  align-self: center;
}

.loginBox > form{
  padding: 80px;
  padding-top: 0;
}

.box .logo{
  padding-left: 20px;
}
.box footer{
  color: #BDBDBD;
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.title{
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 56px;
  color: #333333; 
  margin-bottom: 28px;
}
.description{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #828282;
  margin-bottom: 46px;
}

.warn{
  float: right;
  font-size: 12px;
  color: #828282;
}

.warn a{
  color: #2F80ED;
  font-weight: 600;
  text-decoration: none;

}
.warn a:hover{
  color: #2F80ED;
  font-weight: 600;
  opacity: 0.7;
  text-decoration: underline;
}